.container {
  width: 80vmin;
  height: 80vmin;
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(16, 20px);
  grid-auto-rows: repeat(16, 20px);
  justify-content: center;
}

.square {
  transition: background-color 15s ease-out;
  overflow: hidden;
}

.square:hover {
  background-color: black;
  transition: background-color 50ms ease-out;
}
