.container {
  width: 80vw;
  height: 80vh;
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(16, 20px);
  grid-auto-rows: minmax(10px, auto);
  justify-content: center;
}

.square {
  /* width: 50px;
  height: 50px; */
  /* background-color: red; */
  /* border: 1px solid; */
  background-color: white;
  transition: background-color 15s ease-out;
}

.square:hover {
  background-color: black;
  transition: background-color 250ms ease-out;
}
